<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{asset('assets/css/styles.css')}}" rel="stylesheet" />
    <link href="{{asset('style.css')}}" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
{#        {{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
{#        {{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
{% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info">
        {{message}} </div>
{% endfor %}
{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{message}} </div>
{% endfor %}
{% for message in app.session.flashBag.get('danger') %}
    <div class="alert alert-warinig">
        {{message}}
    </div>
{% endfor %}
{% block body %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>
<script src="{{ asset('script.js') }}"></script>
</body>
</html>